

                <div data-role="navbar">
                    <ul>
                        <li>
                            <a data-role="button" href="/about_us" data-theme="d" data-corners="false">About Us</a>
                        </li>
                        <li>
                            <a data-role="button" href="/about-us/our_team" data-rel="page" data-theme="d">Our Team</a>
                        </li>
                        <li>
                            <a data-role="button" class="ui-btn-active ui-state-persist" data-rel="page" data-theme="d" data-corners="false">Associates</a>
                        </li>
                    </ul>
                </div>
</div>
            <div data-role="content">
                <span></span>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcSOZXo_CnV6Rp10DZjRCQ6gHqApsMCf6PhMecyU_RRn7KMrV5T95g"
                        style="display: block; margin: 0 auto">
                    </div>
                    <div class="ui-block-b">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua</span>
                    </div>
                    <div class="ui-block-a">
                        <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcSOZXo_CnV6Rp10DZjRCQ6gHqApsMCf6PhMecyU_RRn7KMrV5T95g"
                        style="display: block; margin: 0 auto">
                    </div>
                    <div class="ui-block-b">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua</span>
                    </div>
                    <div class="ui-block-a">
                        <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcSOZXo_CnV6Rp10DZjRCQ6gHqApsMCf6PhMecyU_RRn7KMrV5T95g"
                        style="display: block; margin: 0 auto">
                    </div>
                    <div class="ui-block-b">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua</span>
                    </div>
                    <div class="ui-block-a">
                        <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcSOZXo_CnV6Rp10DZjRCQ6gHqApsMCf6PhMecyU_RRn7KMrV5T95g"
                        style="display: block; margin: 0 auto">
                    </div>
                    <div class="ui-block-b">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua</span>
                    </div>
                </div>
            </div>
            
  