<style>
	.submenu{
		margin-bottom: 0 !important;
	}
	.secondryTitle{
		margin-bottom: 12px;
	}
	.admissions .ui-widget-content a{
		color: #dd0017;
	}
</style>
<link rel="stylesheet" href="/styles/jquery-ui.css" />
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap admissions">
	<h2 class="title">ADMISSIONS</h2>
		<div class="padder">
			<div id="accordion">
				<h3>ACADEMEY BROCHURE</h3>
				<div>
					<div class="floatLeft"><span class="pdfIcon"></span>Academy Brochure 2013</div>
					<a target="_blank" href="/files/academy/admissions/Academy-Brochure.pdf"><div class="floatRight">Download</div></a>
				</div>
				<h3>INTERNATIONAL STUDENT GUIDE</h3>
				<div>
					<div class="floatLeft"><span class="pdfIcon"></span>International Student Guide</div>
					<a target="_blank" href="/files/academy/admissions/International-Student-Guide-Booklet.pdf"><div class="floatRight">Download</div></a>
				</div>
				<h3>ENROLLMENT FORMS</h3>
				<div>
					<div class="floatLeft"><span class="pdfIcon"></span>Enrollment Form - Indian Advance Course</div>
					<a target="_blank" href="/files/academy/admissions/forms/Enrolment -Form-international.docx"><div class="floatRight">Download</div></a>
					<div class="clear"></div>
					<div class="floatLeft"><span class="pdfIcon"></span>Enrollment Form - Indian Basic Course</div>
					<a target="_blank" href="/files/academy/admissions/forms/Enrolment-Form-Indian-Basic-Course.docx"><div class="floatRight">Download</div></a>
					<div class="clear"></div>
					<div class="floatLeft"><span class="pdfIcon"></span>Enrollment Form - International</div>
					<a target="_blank" href="/files/academy/admissions/forms/Enrolment-Form-Indian-Advance-Course.docx"><div class="floatRight">Download</div></a>
				</div>
				<h3>ACADEMIC CALENDER</h3>
				<div>
					<div class="floatLeft"><span class="pdfIcon"></span>Academic Calendar</div>
					<a target="_blank" href="/files/academy/admissions/Indian & International course as on April 29th, 2013.pdf"><div class="floatRight">Download</div></a>
				</div>				
				
				<h3>SCHOLARSHIPS</h3>
				<div>
					<div class="floatLeft"><span class="pdfIcon"></span>Scholarship and financial aid</div>
					<a target="_blank" href="/files/academy/admissions/Scholarship and financial aid.docx"><div class="floatRight">Download</div></a>
				</div>
				<h3>PAYMENT OPTIONS</h3>
				<div>
					<div class="floatLeft"><span class="pdfIcon"></span>Bank Details - Indian</div>
					<a target="_blank" href="/files/academy/admissions/payment/Bank Details - Indian_P.docx"><div class="floatRight">Download</div></a>
					<div class="clear"></div>
					<div class="floatLeft"><span class="pdfIcon"></span>Bank details - International students</div>
					<a target="_blank" href="/files/academy/admissions/payment/Bank details - International students_P.doc"><div class="floatRight">Download</div></a>
				</div>
				<h3>COURSE CURRICULAM</h3>
				<div>
					<div class="floatLeft"><span class="pdfIcon"></span>COURSE CURRICULUM</div>
					<a target="_blank" href="/files/academy/admissions/COURSE CURRICULUM_PQ.docx"><div class="floatRight">Download</div></a>
				</div>
			</div>
		</div>
</div>
<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
</script>