<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
	<div class="padder">
		
	</div>
</div>