<style type="text/css">
	.submenu{
		margin-bottom: 0 !important;
	}
	.contentWrap{
		padding: 10px;
	}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap contactUs">
	<div id="map-canvas" class="mapCt"></div>
	<div class="contactCt">
		<div class="floatLeft contactAddr">
			<h3 class="secondryTitle">THE OTHER SONG CLINIC</h3>
			1001, Peninsula Heights, <br />
			C. D. Burfiwala Marg,<br />
			Juhu Lane, Andheri (W),<br />
			Mumbai - 400 058.<br />
			Maharashtra<br />
			India<br />
			<br />
			<table>
				<tr>
					<td>Telephone:</td>
					<td>+91 (22) 42616666</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>info@theothersong.com</td>
				</tr>
				<tr>
					<td>Website:</td>
					<td>www.theothersong.com</td>
				</tr>
			</table>
			<br />
			<div class="blackText"><%="A unit of ‘Foundation for Vital Healing’".upcase%></div>

		</div>
		<div class="seperator floatLeft" style="height: 286px; margin-top: 30px;"></div>
		<div class="floatRight contactNums">
			<h3 class="secondryTitle floatRight">FOR ENQUIRIES AND APPOITMENTS</h3>
			<div class="floatRight">
				<table class="floatRight email" style="margin-bottom: 10px;">
					<tr>
						<td>Telephone:</td>
						<td>+91 (0) 22 42616666</td>
					</tr>
					<tr>
						<td>Fax:</td>
						<td>+91 (0) 22 42616677</td>
					</tr>
				</table>
				
				<div class="clear"></div>
				<div class="blackText boldtext floatRight email">info@theothersong.com</div>
				<div class="clear"></div>
				<div class="floatRight" style="margin-bottom: 10px;">(new case, follow-up appointments/inquiries)</div>
				<div class="blackText boldtext floatRight email">clinic@theothersong.com</div>
				<div class="clear"></div>
				<div class="floatRight" style="margin-bottom: 10px;">(follow-ups, acutes for old cases)</div>
				<div class="clear"></div>
				<div class="blackText boldtext floatRight email">academy@theothersong.com</div>
				<div class="clear"></div>
				<div class="floatRight">(inquiries for courses)</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="contactFt">
		<div style="width: 114px; margin: auto;">The Other Song</div>
		<div style="width: 970px; margin: auto;">International Academy of Advanced Homoeopathy is registered under Section 25C of Indian Company Act, a Non-Profit Organization.</div>
	</div>
	<div class="clear"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
	function initialize() {
  var mapOptions = {
    zoom: 14,
    center: new google.maps.LatLng(19.116234, 72.840260),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>