<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
		<h2 class="title">ADMISSIONS</h2>
		<div class="padder">
			<div id="accordion">
				<h3>ACADEMEY BROCHURE</h3>
				<div>

				</div>
				<h3>INTERNATIONAL STUDENT GUIDE</h3>
				<div>

				</div>
				<h3>ENROLLMENT FORMS</h3>
				<div>



				</div>
				<h3>ACADEMIC CALENDER</h3>
				<div>


				</div>
				<h3>ENROLLMENT FORMS</h3>
				<div>


				</div>
				<h3>ACADEMIC CALENDER</h3>
				<div>

				</div>
				<h3>SCHOLARSHIPS</h3>
				<div>

				</div>
				<h3>PAYMENT OPTIONS</h3>
				<div>

				</div>
				<h3>COURSE CURRICULAM</h3>
				<div>

				</div>
			</div>
		</div>
</div>
<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
</script>