<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
	<div class="padder">
		<h2 class="title"><%= t "submenu.edgeSection.facilities"%> </h2>
		<div class="aboutCt">
			<ul>
				<li>•	Students getting an opportunity to learn from live transmission of cases and follow ups</li>
				<li>•	Direct access to practitioners</li>
				<li>•	Exposure to diverse style of practice</li>
				<li>•	Large Faculty</li>
				<li>•	Archived video cases</li>
				<li>•	Small groups</li>
				<li>•	Interactive learning and teaching</li>
			</ul>
		</div>
	</div>
</div>

