<style>
	.padder{
		padding: 10px 0;
	}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
	<div class="padder">
		<h2 class="title leftPadding10"><%= t "submenu.edgeSection.approach"%> </h2>
		<div class="aboutCt">
			<div class="floatLeft twoCol col1">
				<div>
					<div class="blueHeader"></div>
					<div class="content leftPadding10 topPadding10">
						<h3 class="subheader">HOMEOPATHY</h3>
						<h3 class="subheader">“Homeopathy that changes lives”</h3>
						<div class="bodyContent">Homoeopathy as taught at the academy. <br />
						The Academy is a converging point of some of the best minds in the field of Homoeopathy. Their knowledge and experience coupled with the best clinical practice will create an atmosphere of quality learning, during the one-on-one knowledge sharing sessions.<br />
						The Academy polishes your skills in Homoeopathy and exposes you to the latest advancements in the field of Homoeopathy.
						The atmosphere during the course schedules enables you to think differently, with a fresh approach while perceiving a particular case.<br />
						When you learn at the other song, you find the opportunity to study and expand your knowledge from the pioneer of the Sensation Method himself, Dr. Rajan Sankaran, as well as from some of the other leading practitioners in this field.</div>
					</div>
				</div>				
			</div>
			<div class="floatLeft twoCol">
				<div>
					<div class="blueHeader"></div>
					<div class="content topPadding10">
						<h3 class="subheader">SENSATION METHOD</h3>
						<h3 class="subheader">“An avant-garde method” </h3>
						<div class="bodyContent">Deep inside each one of us is a specific and distinct energy that defines our state of being. It defines our perception and response to the world and forms an essential part of our individuality. This energy is called ‘the other song’. ‘the other song’ reflects the essence of a substance from the animal, plant, or mineral kingdoms in nature.<br /><br />
						This essence or energy becomes the source of stress, conflict, and/or lack of wellbeing in an individual. The illness or disease is expressed through various physical symptoms, but these are an external manifestation of the deeper internal disturbance caused by ‘the other song’.<br /><br />
						Homoeopathy as practiced at the Academy, aims to look beyond the mere physical symptoms. It delves into the human being, recognizes ‘the other song’, and corrects the deep inner disturbance. In this way, the treatment provided at the Academy is both holistic and individualized.<br /><br />
						Once the ‘the other song’ is revealed and treated, the person finds a release from the pattern that has been governing their life. This restores the body and spirit to health and balance, and the individual is in tune with their true self – melodious and complete.<br /><br />
						Originated by a team of doctors at the Academy, the process of recognizing ‘the other song’, finding the correct remedy that resonates with the patient, and restoring good health and harmony within the individual, is called the Sensation Method.<br /><br />
						The Sensation Method is the cutting-edge of Homoeopathic treatment, training, and research carried out at the Academy, and is now also practiced across the world with encouraging results.<br /><br />
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

