<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
	<div class="padder">
		<h2 class="title"><%= t "submenu.edgeSection.approach"%> </h2>
		<div class="aboutCt">

		</div>
	</div>
</div>

