<style>
	.submenu{
		margin-bottom: 0 !important;
	}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">

	<div class="padder">
		<h2 class="title">RESEARCH</h2>
		<div class="aboutCt">
			<p class="blockQuote greenBorder" style="margin-top: 0;">“At the other song, research activities nurture scientific progress. The centre produces preserves and transmits insights and knowledge.”</p>
			<div class="bodyContent">	Our endavour at the other song is to give Homoeopathy the scientific credibility it deserves.</div><br />
			<div class="bodyContent">Our research centre strives towards performing high quality research & statistics studies through internationally validated protocols. The research findings will be later published in Medical Journals worldwide to establish the efficacy of Homoeopathy.</div><br />
			<div class="bodyContent">In order to conduct our research & statistics, we take the help of our patients & request them to conduct their laboratory investigations at regular intervals. In addition, we have tie-ups with laboratories that offer their investigations at discounted prices.</div>
		</div>
	</div>
</div>