<style>
	.submenu{
		margin-bottom: 0 !important;
	}
	.secondryTitle{
		margin-bottom: 12px;
	}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
	<div class="padder speciality">
		<h2 class="title"><%= t "submenu.satellite"%> </h2>
		<div class="aboutCt">
			<p class="blockQuote blueBorder">“A progressive and advanced model that keeps in mind the need of the hour”</p>
			<div class="secondryTitle">What is a satellite centre?</div>
			<div class="satelliteContent">
				The satellite centre at the other song – International Academy for Advanced Homoeopathy is a medium that imparts training to graduate doctors from selected colleges around the vicinity of Mumbai, in urban and suburban areas. These satellite transmissions are specifically available for doctors who are unable to come to the institute and participate in the long-term courses. The students who participate in satellite courses are also eligible for specialized courses offered at the other song. 
			</div>
			<div class="secondryTitle">Goals at the satellite centre:</div>
			<ul class="satelliteContent" style="list-style: disc; margin-left: 20px;">
				<li>To take quality homoeopathic education and homoeopathic training to remote parts of India</li>
				<li>To facilitate research, data collection and cohort studies</li>
				<li>To spread awareness of the other song – International Academy for Advanced Homoeopathy</li>
				<li>To increase the enrolment for seminars held in Mumbai </li>
			</ul>

			<div  class="secondryTitle"> Places in India that have access to the satellite centre currently:</div>
			<ol class="satelliteContent" style="margin-left: 20px; margin-bottom: 12px;">
				<li>Sangli</li>
				<li>Goa </li>
			</ol>
			**Nagpur, Aurangabad, Amravati, Ahmedabad are additional localities where the satellite centre will be activated shortly.

			<div  class="secondryTitle">Important details of the satellite courses:</div>

			<div class="secondryTitle" style="font-size: 16px;">Duration:</div>
			<ul class="satelliteContent">
				<li>12 days</li>
			</ul>

			<div class="secondryTitle" style="font-size: 16px;">Content:</div>
			<ul class="satelliteContent">
				<li>Levels 1 & 2 Basic Courses from the other song</li>
				<li>Topics include in depth study of Materia Medica and the Repertory, and the System (kingdom, miasm, and source)</li>
			</ul>

			<div class="secondryTitle" style="font-size: 16px;">Contact Details</div>
			<div class="satelliteContent">
				Sangli Sector:<br />
				Dr. Ajit Bharamgude<br />
				Phone - 9404284842<br />
			</div>
			<br />
			<div class="satelliteContent">
				Goa Sector:<br />
				Dr. Ashok Borkar<br />
				Phone - 9922656881<br />
			</div>
		</div>
	</div>
</div>