<style>
	.teaching-tools li{
		list-style: disc;
		margin: 10px 16px;
	}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap teaching-tools">
	<div class="padder">
		<h2 class="title"><%= t "submenu.edgeSection.teaching_tools"%> </h2>
		<div class="aboutCt">
			<p class="blockQuote">
				“Teaching and training that impart new skills, enrich old skills and provide pure intellectual contentment” 
			</p>
			<div>
				<h3 class="secondryTitle">TOOLS</h3>
				<ul>
					<li>Live case based clinical training supported by successful video cases</li>
				</ul>
				<h3 class="secondryTitle">OBJECTIVES and METHODOLOGY:</h3>
				<ul>
					<li>Clinical and practical training in Sensation Homoeopathy</li>
					<li>Integration of Classical Approach with Sensation Method</li>
					<li>Refining clinical skills</li>
					<li>Learn further evolution of case-taking and remedy analysis</li>
					<li>Further exploring kingdoms and subkingdoms</li>
					<li>Learn under the expertise of experienced practitioners</li>
				</ul>
				
				<h3 class="secondryTitle">TEACHING TOOLS & METHODOLOGY</h3>
				The student of Homoeopathy enrolled in the Academic Program at the other song has access to a number of unique tools and processes that are integral to the teaching and learning model developed and practiced at the Academy.<br />
				These tools and methods include:<br />
				<ul>
					<li>Live transmission of cases and follow-ups: A sophisticated video technology connects consulting rooms to training auditoriums.  Students witness live cases and follow-ups on a daily basis as part of their training program.</li>
					<li>Direct access to senior practitioners: Students witness senior practitioners practicing live in the consulting room. They have the opportunity to engage in discussions and in-depth case analysis with the practitioner while the practitioner explains the process of case-taking and remedy selection of each individual case.</li>
					<li>Exposure to diverse styles in practice: The academic faculty at the other song comprises of several internationally acclaimed homoeopaths. Students are exposed to different styles of practicing the same method of homoeopathy.</li>
					<li>Large Faculty: The Academy has ten full-time trained homoeopaths on the premises including some very experienced practitioners. These practitioners are available to help and guide the students at any given time.</li>
					<li>Archived video cases: A huge library of archived video cases is readily available for reference. They are easily drawn upon to illustrate different aspects of the training program.</li>
					<li>Small, intimate batches: The number of participants in each training group does not exceed 60 students. This facilitates greater inter-personal and one-on-one discussions in the classroom and with faculty members.</li>
					<li>Interactive learning and teaching: the other song encourages a dynamic interaction between student and faculty and among students themselves.  The focus is on learning through discussion and dialogue.</li>
					<li>Managing acute ailments: Managing acute conditions through Homoeopathy is often seen as a test of fire for Homeopathic practitioners. </li>
				</ul>
				In the institute the students are exposed to ailments with acute condition. This live exposure will train the students to manage acute conditions efficiently and effectively. This often forms the basis of extreme faith for many of the patients in Homoeopathy, leading them to resort to this system for every conceivable ailment.
			</div>
		</div>
	</div>
</div>

