<!DOCTYPE html>
<html>
<head>
  <title>The Other Song ADMIN</title>
  
 <meta charset="utf-8">
<%= stylesheet_link_tag "application" %>

 
<%= csrf_meta_tags %>
<script src="/scripts/jquery-1.9.1.min.js"></script>
<script src="/scripts"></script>
</head>
<body>
<%=render :partial=> "home/shared/menu"%>

<%= yield %>

</body>
</html>
