<!DOCTYPE html>
<html>
<head>
  <title>The Other Song ADMIN</title>
  
 <meta charset="utf-8">
<%= stylesheet_link_tag "application" %>

 
<%= csrf_meta_tags %>
<link rel="stylesheet" href="/styles/jquery.ui.all.css" />
<script src="/scripts/jquery-1.9.1.min.js"></script>
<script src="/scripts/jquery-ui.js"></script>

</head>
<body>
<%=render :partial=> "home/shared/menu"%>

<%= yield %>

</body>
</html>
