
<form action="attempt_login" method="post">
	<table>
		<tr>
			<td><label for="username">UserName/Email:</label></td>
			<td><input type="text" name="username"></input></td>
		</tr>
		<tr>
			<td><label for="password">Password:</label></td>
			<td><input type="password" name="password"></input></td>
		</tr>
		 <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Log In") %></td>
    </tr>
		<tr>
			<td></td>
			
			
		</tr>
	</table>
</form>