<div data-role="footer" data-position="fixed" >
                <div data-role="navbar">
                    <ul>
                        <li>
                            <a href="/" data-role="button">Academy</a>
                        </li>
                        <li>
                            <a data-role="button">Clinic</a>
                        </li>
                        <li>
                            <a data-role="button">Read Up</a>
                        </li>
                        <li>
                            <a data-role="button">Contacts</a>
                        </li>
                        <li>
                            <a data-role="button">Search</a>
                        </li>
                    </ul>
                </div>
            </div>