<div class="activityCt">
	<h2>Recent Activity</h2>
	<ul class="activityList">
		<%@recent_activity.each{|activity|%>
		<li class="activity">
					<div><%=activity[:title]%></div>
					<div><%=activity[:content]%></div>
				</li>
		<%}%>
	</ul>
</div>

		
	
