<form action="/register" method="post">
	<table>
		<tr>
			<td><label for="username">UserName:</label></td>
			<td><input type="text" name="username"></input></td>
		</tr>
		<tr>
			<td><label for="email">Email:</label></td>
			<td><input type="email" name="email"></input></td>
		</tr>
		<tr>
			<td><label for="password">Password:</label></td>
			<td><input type="password" name="password"></input></td>
		</tr>
		<tr>
			<td><label for="repeat_password">Password Again:</label></td>
			<td><input type="password" name="repeat_password"></input></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Submit"></input></td>
		</tr>
	</table>
</form>