/* 
    Document   : admin
    Created on : Aug 4, 2013, 3:34:00 PM
    Author     : abhimanyusaxena
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.dottebBottom{
	border-bottom: 1px dotted #000;
}
