/* 
    Document   : admin
    Created on : Aug 4, 2013, 3:34:00 PM
    Author     : abhimanyusaxena
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.adminSprite{
	background-image: url("/images/admin_sprite.png");
	display: inline-block;
}
.crossIcon{
	height: 28px;
	width: 28px;
	background-position: -80px -89px;
	cursor: pointer;
	margin: 6px;
}
.crossIcon:hover{
	background-position: -80px -40px;
}

.editIcon{
	height: 28px;
	width: 28px;
	background-position: -32px -89px;
	cursor: pointer;
	margin: 6px;
}
.editIcon:hover{
	background-position: -32px -40px;
}
.dottebBottom{
	border-bottom: 1px dotted #000;
}
.padding10{
	padding: 10px 0;
}
.adminCt{
	width: 980px;
	margin: auto;
}

.admin-list{
	
}
.adminCt a{
	/*color: #000 !important;*/
}
.articleList table {
		width:100%;
		margin-top: 5px;
	}
.admin-topheader{
	border-bottom: 1px dotted #000;
	border-top: 1px dotted #000;
	padding: 10px;
}
.admin-secondHeader{
	border-bottom: 1px dotted #000;
	padding: 10px;
}
.admin-secondHeader input{

}
.admin-secondHeader label{
	margin-right: 32px;
	margin-left: 10px;
	position: relative;
	top: 3px;
}
.admin-tabs{
	padding:10px 0;
}
.admin-tabs a{
	color: #000;
}
.admin-tab{
	display: inline-block;
	height: 28px;
	background-color: #ddd;
	border: 1px solid black;
	border-radius: 6px 6px 0 0;
	width: 148px;
	margin-right: -6px;
}
.admin-tab.selected{
	background-color: #fff;
}

.admin-tab a{
	display: inline-block;
	padding: 6px 24px;
}

.admin-article-field td{
	padding-bottom: 10px;
}
.articleEdit td {
	font-size: 16px;
}

/*Admin Articles List Start*/

.articleList table tr th{
	background-color: #e3e3e3;
}
.articleList table tr td{
	background-color: #fff;
}
.articleList table{
	background-color: #ddd;
}
.articleList table tr td{
	
}
.article_table .rightInputCt input{
	width: 540px;
}
/*Admin Articles List End start*/

/*Admin Article edit*/
.articleEdit h1{
	font-size: 32px;

}
.articleEdit{
	width: 980px;
	margin: auto;
}
.actions input{
	width: 200px;	
	height: 32px;
	background: #ddd;
}
/*Admin Article edit end*/

.actions{
	/*background: red;
	position: absolute;
	top: -53px;
	right: 0;*/
}
.adminCt2{
	position: relative;
}
.adminCt2 .actions{
	position: absolute;
	top: -52px;
	right: 0;
}
.upperbar{
	padding: 20px 0 10px 0;
}

.upperbar .btn_newArticle{
	height: 32px;
	width: 88px;
	background: #ddd;
}