<style>
	#slides{
		position: relative;
		width: 100%;
		overflow: hidden;
	}
	#slides ul{
		text-align: left;
		float: none;
		position: relative;
		top: 0px;
		right: auto;
		bottom: auto;
		margin: 0px;
		display: block;
		position: relative;
		height: 260px;
		overflow: hidden;
		width: 5000px;
	}
	#slides ul li{
		display: inline;
		float: left;
	}
	.slidesjs-navigation{
		display: inline-block;
		height: 24px;
		width: 24px;
		position: absolute;
		top: 210px;
		cursor: pointer;
	}
	.slidesjs-next{
		background-position: -10px -10px;
	}
	.slidesjs-next{
		background-position: -10px -10px;
		right: 0;
	}

	.slideControler{
		position: absolute;
		bottom: 10px;
		right: 50%;
		margin-right: -259px;
		z-index: 10;
	}
	.slideCircle{
		height: 16px;
		width: 16px;
		background-position: -187px -27px;
		cursor: pointer;
	}
	.slideCircle.selected{
		background-image: none;
		background-color: #777;
		border-radius: 14px;
		height: 14px;
		width: 14px
	}
</style>
<div id="slides">
	<!--<a href="#" class="slidesjs-previous slidesjs-navigation spriteIcon">&larr;</a>
	<a href="#" class="slidesjs-next slidesjs-navigation spriteIcon">&rarr;</a>-->
	<div class="slideControler">
		<span class="spriteIcon slideCircle selected"></span>
		<span class="spriteIcon slideCircle"></span>
		<span class="spriteIcon slideCircle"></span>
	</div>
	<ul>
		<li><img src="/images/<%=scope%>/slides-1.jpg" height="260" width="652" /></li>
		<li><img src="/images/<%=scope%>/slides-2.jpg" height="260" width="652" /></li>
		<li><img src="/images/<%=scope%>/slides-3.jpg" height="260" width="652" /></li>
		<li><img src="/images/<%=scope%>/slides-4.jpg" height="260" width="652" /></li>
	</ul>

	<div class="clear"></div>
</div>
<script>
	var slidePosition = 980 + 980/2 - ($(window).width()/2);
	$("#slides ul").css('left', -slidePosition);
	var slideCounter = 0;
	var allpageslider = function(){

		slideCounter = (slideCounter + 1) % 3
		slidePosition < 2200 ? slidePosition+= 980 : slidePosition = 1470 - ($(window).width()/2);

		$("#slides ul").animate({
			'left': -slidePosition
		}, 'slow');
		$(".slideControler .slideCircle.selected").removeClass("selected");
		$($(".slideControler .slideCircle")[slideCounter]).addClass("selected");
	}
	var sliderTimer = setInterval(allpageslider, 3000);

	$(".slideCircle").click(function(evt){
		clearInterval(sliderTimer);
		sliderTimer = setInterval(allpageslider, 3000);
		var index = Array.prototype.indexOf.apply($(".slideCircle"), [evt.target]);
		
		var pos = -750 - index*980;
		slideCounter = index;
		slidePosition = -pos;
		$("#slides ul").animate({
			left : pos
		});
		$(".slideCircle").removeClass("selected");
		$(evt.target).addClass("selected");
	});
</script>