<style>
	#slides{
		position: relative;
	}
	#slides ul{
		text-align: left;
		float: none;
		position: relative;
		top: 0px;
		right: auto;
		bottom: auto;
		margin: 0px;
		display: block;
		position: relative;
		height: 420px;
		overflow: hidden;

	}
	#slides ul li{
		display: inline;
		float: left;
	}
	.slidesjs-navigation{
		display: inline-block;
		height: 24px;
		width: 24px;
		position: absolute;
		top: 210px;
		cursor: pointer;
	}
	.slidesjs-next{
		background-position: -10px -10px;
	}
	.slidesjs-next{
		background-position: -10px -10px;
		right: 0;
	}
</style>
<div id="slides" style="width: 5000px;">
	<!--<a href="#" class="slidesjs-previous slidesjs-navigation spriteIcon">&larr;</a>
	<a href="#" class="slidesjs-next slidesjs-navigation spriteIcon">&rarr;</a>-->
	<ul>
		<li><img src="/images/slides-1.jpg" height="420" width="980"></li>
		<li><img src="/images/slides-2.jpg" height="420" width="980"></li>
		<li><img src="/images/slides-3.jpg" height="420" width="980"></li>
		<li><img src="/images/slides-4.jpg" height="420" width="980"></li>
		<li><img src="/images/slides-1.jpg" height="420" width="980"></li>
	</ul>
	<div class="clear"></div>
</div>
<script>
	var slidePosition = 980 + 980/2 - ($(window).width()/2);
	$("#slides ul").css('left', -slidePosition);
	setInterval(function(){
		slidePosition < 2200 ? slidePosition+= 980 : slidePosition = 1470 - ($(window).width()/2);

		$("#slides ul").animate({
			'left': -slidePosition
		});		
	}, 10000);
	/*$(function(){
		$("#slides").slidesjs({
			width: 940,
			height: 400,
			pagination: {
				active: false,
				effect: "slide"
			},
			navigation: {
				active:true,
				effect:"slide"
			},
			play: {
				active: true,
				interval: 15000,
				auto : true
			}

		});
});*/

</script>