<style>
	.about-aim-list{
		list-style: disc;
		padding-left: 32px;
}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap">
	<div class="padder">
		<h2 class="title">OUR AIM</h2>
		<p class="blockQuote">Treating. Teaching. Transforming.</p>
	The Other Song is an integrated Homeopathic Clinic and Training and Research Academy dedicated to:
		<ul class="about-aim-list">
			<li>Holistic patient care and total well being.</li>
			<li>High quality student practitioner education and training.</li>
			<li>Advanced clinical research and documentation.</li>
		</ul>
	</div>
</div>