<style>
	.padder{
		padding: 10px 0;
	}
	.associationImage{
		height: 220px;
		background: gray;
	}
	.virtual-tour{
		height: 290px;
		padding: 10px;
	}
	.virtual-tour .slidesjs-pagination{
		bottom: 16px;
		right: 16px;
	}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap">
	<div class="padder">
		<h2 class="title"><%= t "submenu.aboutsection.association"%> </h2>
		<div class="aboutCt">
			<div class="floatLeft twoCol col1">
				<div>
					<div class="associationImage"></div>
					<div class="content">
						<h3 class="seondryTitle">WORLD INSTITUTE FOR SENSATION HOMEOPATHY(WISH)</h3>
						<p>WISH was founded in the year 2010 in Munich, Germany by Dr. Rajan Sankaran and a group of colleagues. It is a worldwide initiative and a not-for-profit collaboration of Homeopaths who practice and teach the Sensation Method of Homeopathy.</p>
						<!--<p>The core group of members represents homeopaths from 11 countries across the world; including India, Germany, Austria, United Kingdom, Spain, France, Belgium, Holland, Japan, Canada and the USA.  Almost all of the members at WISH have been practicing Sensation Homeopathy since its inception, hence representing a huge knowledge base of skill and expertise in the method.</p>
						<p>The core function of WISH is to advance the highest possible standards in the development and utilization of Sensation Homeopathy (SH). This would bring about the greater good of the profession into the public, and help coordinate teaching activities and offer a platform for the community using sensation method. A resource pool of cases and teaching tools would be developed, new remedies would be regularly updated to the sensation method and the assignment of miasms will be organized by ‘WISH’ for its members.</p>
						<p>To enable internal exchange of experience and information amongst members a website www.wish4healing.com has been designed which will also present SH to the public. It will keep a calendar of seminars, a directory of sensation homoeopaths, a list of sensation groups, seminar summaries and book reviews.</p>
						<p>“The Other Song - An International Academy of Advanced Homoeopathy” in Mumbai is headed by Dr. Rajan Sankaran and affiliated with WISH. WISH actively supports the highly advanced clinical research and training at the Academy. The teachers of WISH are also members of faculty at The Academy. The Academy supports the purpose and the organization of WISH and offers to host the annual meetings of members.</p>
						<p>The ‘WISH’ Conference is at present being held at the Academy from January 5th – 11th 2012. Sharing between sensation method practitioners is being helped by the use of the facilities of the academy for the presentation of live cases and follow-ups from the new clinic. Teaching skills are being enhanced by sharing cases in the WISH group and to a wider group of Indian homoeopaths. The members are a part of a panel of discussion of difficult cases at the clinic.</p>
						<p>As a special highlight to promote Sensation Homeopathy WISH is organizing an international congress in 2012, titled “WISH for children “.</p>
						-->
						<a href="/clinic/associations/wish/" class="floatRight" style="color: #000;">Read More</a>
					</div>
				</div>				
			</div>
			<div class="floatLeft twoCol">
				<div>
					<div class="orangeHeader"></div>
					<div id="expandable" class="content" style="height: 300px;overflow: hidden;">
						<h3 class="seondryTitle">SHRADHDHA CURES</h3>						
						<p>Shradhdha Cures has been working on developing healing and meditative techniques for individuals and groups. Our ultimate goal is to transform our self defeating and diseased patterns within our body and mind and deep into our spirits.</p>

						<p>The workshop will feature many different kinds of meditative techniques to deal with the rising stress and fears of modern-day life. This retreat is recommended for individuals inclined towards a holistic and meditative way of healing. It will give each participant the opportunity to go deeper into their issues. Different kinds of meditative processes will put each one of these individuals on a path of spiritual transformation.</p>

					</div>

				</div>
			</div>
			<div class="clear"></div>
		</div>
		<h2 class="title boldtext marginTop20" style="margin-bottom: 10px;">VIRTUAL TOUR</h2>
		<div class="virtual-tour">
			<div class="virtual-slide">
				<img src="/images/clinic/slides-1.jpg" alt=""></img>
				<span class="caption virtual-slide-caption">Slide 1</span>
			</div>
			<div class="virtual-slide">
				<img src="/images/clinic/slides-2.jpg" alt=""></img>
				<span class="caption virtual-slide-caption">Slide 2</span>
			</div>
			<div class="virtual-slide">
				<img src="/images/clinic/slides-3.jpg" alt=""></img>
				<span class="caption virtual-slide-caption">Slide 3</span>
			</div>
		</div>
	</div>
</div>
<script>
	$(".virtual-tour").slidesjs({
		width: 940,
		height: 290,
		play: {
			active: false,
			effect: "slide",
			interval: 5000
		},
		navigation:{
			active: false
		},
		pagination: {
			active: true
		}
	});
</script>