<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap">
	<h2 class="title"><%= t "submenu.edgeSection.beliefe"%> </h2>
	<div class="padder">		
		<h2 class="secondryTitle">The Other Song Clinic - Care Without Compare</h2>
		<div class="aboutCt">
			Homoeopathic treatment is based on recognizing the energy pattern lying deep within the patient and dispensing treatment accordingly at the clinic.
			<br />
			<br />
			Advanced research, in-depth study and new methodologies come together as an accessible solution to an ailment at the clinic. This is a platform where we provide the best of treatment and service, which we have been formulating at the centre.
			This process of recognition is undertaken using different advanced techniques in Homoeopathy like the Sensation Method, while at the same time exploring other methods and techniques of treatment that have a similar goal.

		</div>
	</div>
</div>

