<style>
	.submenu{
		margin-bottom: 0 !important;
	}
	.general-info-contact{
		font-family: 'TisaProRegular';
		color: #666;
	}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap">
	<div class="padder">
		<!--<div class="general-info-accordion" style="height: 100px; background: gray;">TODO</div>-->
		<div class="general-info-contact">
			<h2 class="secondryTitle black	"><%="Contact us".upcase%></h2>
			<h3>IN CASE OF QUERY CONTACT:</h3>
			<div class="contact-details">
				Tel +91 (0) 22 42616666 <br />
				Fax +91 (0) 22 42616677<br />
				<table style="margin: 0 0 20px 0;">
					<tr>
						<td class="black">info@theothersong.com</td>
						<td>(new case, follow-up appointments/inquiries)</td>
					</tr>
					<tr>
						<td class="black">clinic@theothersong.com</td>
						<td>(follow-ups, acutes for old cases)</td>
					</tr>
					<tr>
						<td class="black">academy@theothersong.com</td>
						<td>(inquiries for courses)</td>
					</tr>
				</table>
			</div>
			the other song <br /><br />

			1001, Peninsula Heights, C. D. Burfiwala Marg, Juhu Lane<br />
			Andheri (W), Mumbai - 400 058. Maharashtra, India<br />
			T +91 (22) 42616666 <br />
			info@theothersong.com <br />
			www.theothersong.com<br />
			A unit of ‘Foundation for Vital Healing’<br /><br /><br />


			<div class="boldtext black">The Other Song –
			International Academy of Advanced Homoeopathy is registered under Section 25C of Indian Company Act, a Non-Profit Organization.</div>
			<br /><br />

			<div class="font18">Visiting 'the other song' clinic</div>
			<br />
			the other song—International Academy of Advanced Homoeopathy*<br />
			1001, Peninsula Heights<br />
			C. D. Burfiwala Marg,<br />
			Juhu Lane,<br />
			Andheri (W), Mumbai - 400 058<br />
			(Maharashtra), INDIA<br />
			Tel: +91 (0) 22 42616666<br />
			Fax: +91 (0) 22 42616677<br />
			(*Unit of: Foundation for Vital Healing)<br />
			(Maharashtra), INDIA<br />

			<!--Enquiries<br />
			For enquiries and appointments<br />
			Call at +91 (0) 22 42616666 or Fax +91 (0) 22 42616677<br />-->

			<div class="font18 margin20">Stay connected to us</div>
			<table>
				<tr>
					<td>Facebook:</td>
					<td>www.facebook.com/theothersongacademy</td>
				</tr>
				<tr>
					<td>You tube:</td>
					<td>Dr RajanSankaran’s talk on the benefits of studying at ‘the other song’</td>
				</tr>
				<tr>
					<td></td>
					<td><a href="http://www.youtube.com/watch?v=Ns42frFsRBU" style="color: #000;">http://www.youtube.com/watch?v=Ns42frFsRBU</a></td>
				</tr>
				<tr>
					<td></td>
					<td>Movie production on ‘the other song’ – international academy for advanced homoeopathy</td>
				</tr>
				<tr>
					<td></td>
					<td><a href="http://www.youtube.com/watch?v=4ejOZy-AH7E&feature=plcp" style="color: #000;">http://www.youtube.com/watch?v=4ejOZy-AH7E&feature=plcp</a></td>
				</tr>
			</table>



			<div class="font18 marginTop20">Student testimonials</div>
			<a href="http://www.youtube.com/watch?v=-FVUjJD5zYU&feature=plcp" style="color: #000;">http://www.youtube.com/watch?v=-FVUjJD5zYU&feature=plcp</a>
			<div class="font18 marginTop20">Newsletter</div>
			This quarterly magazine is the easiest way to update you on various cases and events at ‘the other song’. An opportunity to stay connected.

		</div>
	</div>
</div>