<style>
	.padder{
		padding: 10px 0;
	}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap">
	<div class="padder">
		<h2 class="title"><%= t "submenu.edgeSection.approach"%> </h2>
		<div class="aboutCt">
			<div class="floatLeft twoCol col1">
				<div>
					<div class="blueHeader"></div>
					<div class="content">
						<h3 class="seondryTitle">HOMEOPATHY</h3>
						<h3 class="ternaryTitle">“Homeopathy that changes lives”</h3>
						Homoeopathy as taught at the academy. <br />
						The Academy is a converging point of some of the best minds in the field of Homoeopathy. Their knowledge and experience coupled with the best clinical practice will create an atmosphere of quality learning, during the one-on-one knowledge sharing sessions.<br />
						The Academy polishes your skills in Homoeopathy and exposes you to the latest advancements in the field of Homoeopathy.
						The atmosphere during the course schedules enables you to think differently, with a fresh approach while perceiving a particular case.<br />
						When you learn at the other song, you find the opportunity to study and expand your knowledge from the pioneer of the Sensation Method himself, Dr. Rajan Sankaran, as well as from some of the other leading practitioners in this field.
					</div>
				</div>
				<div>
					<div class="blueHeader"></div>
					<div class="content">
						<h3 class="seondryTitle">ART OF CASE TAKING</h3>
						<h3 class="ternaryTitle">“The actual leader to a perfect diagnosis”</h3>						
							Case taking is the first step towards treatment at ‘the other song’ Clinic. It is a systematic and scientific process that paves the way for the doctors to delve deep into each case. It helps develop an in-depth and detailed understanding of the patient as a whole being. <br />
							The extensive nature of the process of case taking practiced at the Academy opens up the path for doctors to determine the specific route of treatment for patients. It enables doctors to tune into ‘the other song’ playing deep within the patient. <br />
							All doctors at the clinic are well trained and proficient in the process of case taking. Case taking is an art perfected over a period of time in a scientific manner.						
					</div>
				</div>
			</div>
			<div class="floatLeft twoCol">
				<div>
					<div class="blueHeader"></div>
					<div id="expandable" class="content" style="height: 300px;overflow: hidden;">
						<h3 class="seondryTitle">SENSATION METHOD</h3>
						<h3 class="ternaryTitle">“An avant-garde method” </h3>
						Deep inside each one of us is a specific and distinct energy that defines our state of being. It defines our perception and response to the world and forms an essential part of our individuality. This energy is called ‘the other song’. ‘the other song’ reflects the essence of a substance from the animal, plant, or mineral kingdoms in nature.<br /><br />
						This essence or energy becomes the source of stress, conflict, and/or lack of wellbeing in an individual. The illness or disease is expressed through various physical symptoms, but these are an external manifestation of the deeper internal disturbance caused by ‘the other song’.<br /><br />
						Homoeopathy as practiced at the Academy, aims to look beyond the mere physical symptoms. It delves into the human being, recognizes ‘the other song’, and corrects the deep inner disturbance. In this way, the treatment provided at the Academy is both holistic and individualized.<br /><br />
						Once the ‘the other song’ is revealed and treated, the person finds a release from the pattern that has been governing their life. This restores the body and spirit to health and balance, and the individual is in tune with their true self – melodious and complete.<br /><br />
						Originated by a team of doctors at the Academy, the process of recognizing ‘the other song’, finding the correct remedy that resonates with the patient, and restoring good health and harmony within the individual, is called the Sensation Method.<br /><br />
						The Sensation Method is the cutting-edge of Homoeopathic treatment, training, and research carried out at the Academy, and is now also practiced across the world with encouraging results.<br /><br />
					</div>
					<span class="floatRight" id="readmore" onclick="$('#expandable').css({'height': 'auto'});$('#readmore').remove();" style="cursor: pointer;">Read More</span>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

