<style>	
	#accordion ul li{
		list-style: disc;
		margin: 10px 30px;
	}
	#accordion ol li{
		margin: 10px 30px;
	}
	
	

</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap">
	<div class="padder speciality">
		<h2 class="title"><%= t "submenu.edgeSection.clinic"%> </h2>
		<div class="aboutCt bodyContent">
			<p class="blockQuote" style="margin-top: 0;">“When there is collaboration, wonderful things can happen”</p>
			<div class="content">
				‘the other song’ launches its ‘Speciality Clinics’ - An interdisciplinary collaboration of healthcare professionals.<br />
				Since its inception, ‘the other song’ has been striving towards providing the best possible homoeopathic treatment. Teams of experienced consultants and highly able resident doctors help cure every patients needs. Today, the ‘the other song’ has become a platform of “Care beyond Compare”.

			</div>
			<p class="blockQuote">‘the other song’ breaks new grounds in order to facilitate this intention, ‘the other song’ now launches a series of ‘Speciality Clinics’ from August 15th 2013.</p>
			<div class="content">
				In speciality clinics at ‘the other song’ Like-minded health care experts and medical professionals come together in a distinctive collaboration which strengthens patient’s outcomes. <br />
				Many a times, poor communication between health care professionals leads to adverse effects on patients. The speciality clinic at ‘the other song’ creates a union of medical experts from diverse fields such as Homoeopathy and Allopathy including Dieticians and Yoga experts. Together, they bridge this existing gap and provide patients with all the possible routes towards a healthy living. <br />
				This first-of-its-kind Speciality Clinic by ‘the other song’ offers patients the best homoeopathic care along with the best of modern medicine. And, collectively they give patients complete, holistic treatment. The Speciality clinics combat the following ailments:

			</div>
		</div>
	</div>
	<div id="accordion">
		<h3>RHEUMATOLOGY </h3>
		<div>
			
			<p class="blockQuote">
						It is said that ‘the greatest evil is physical pain’ and what worse than restricting one’s mobility!
			</p>
			<img src="/images/rheumatology-1.png" height="300" class="floatRight"></img>
			<img src="/images/rheumatology-2.png" height="300" class="floatRight"></img>
			<ul>
				<li>Do you experience swelling and stiffness in your joints?</li>
				<li>Is it difficult to move your joints because of this?</li>
				<li>Do you feel stiffness in the morning which lasts for more than half an hour?</li>
				<li>Are you unable to bend forward or backward due to lower back pain {for atleast 3 months}?</li>
			</ul>
					If yes, then it is possible that you are suffering from a rheumatic disease. Rheumatic diseases range from the very common ostoearthritis to the complex SLE, ankylosing spondylitis etc. It is essential that this condition must be diagnosed accurately so that proper treatment can be provided. If these signs are ignored and untreated, they can lead to joint deformities and serious disability leading to difficulty in carrying out daily activities. Early diagnosis and intervention is the key to prevent joint damage. <br />
					Rheumatology covers a large group of auto-immune joint disorders like, rheumatoid arthritis, ankylosing spondylitis, SLE etc.<br />
					<a class="links button floatRight" target="_blank" href="/files/clinic/speciality-clinic/file1.pdf"><div class="">Download</div></a>
		</div>
		<h3>HOMOEOPATHIC WEIGHT MANAGEMENT</h3>
		<div>
			<p class="blockQuote">
								“Being obese is not just about how you look, it is a HEALTH HAZARD. It puts a strain on all your body systems.”
			</p>
			<div>
						Along with deadly diseases like HIV-AIDS, Cancers, etc; obesity is now one of the major ‘diseases’ racing towards becoming an alarming ailment.<br />
						Today, ‘obesity’ is considered as a disease, which needs serious and immediate attention. If not, it could lead to lead to serious consequences.<br />
						Obesity is one of the most common evils of modern times. Most times it has been referred to a condition caused due to over-eating, but is a complex and chronic disease with many causes.<br />
			</div>
			<img src="/images/obesity.png" height="380" class="floatRight"></img>
			<ul>
				<li>Sedentary lifestyle,</li>
				<li>Erratic food habits </li>
				<li>Psychological disorders </li>
				<li>Certain medical conditions like hypothyroidism, PCOS, Cushing’s syndrome etc., </li>
			</ul>
			<div>
						All have a contribution to the origin and progress of obesity.
			</div>

			<!--<img src="/images/obesity.png" class="floatRight" width="500"></img>-->

					Diet changes and exercise regimes are not sufficient to reverse and manage obesity effectively. We believe this can be done with homoeopathy and aided with:
			<ol>
				<li>Proper Diagnosis and investigations </li>
				<li>Diet and lifestyle changes </li>
				<li>Careful and periodic monitoring of all vital parameter’s </li>
				<li>Counselling </li>
			</ol>
					The homoeopathic weight management unit has been created to provide the best of homoeopathy and dietetics along with guidance in yoga and other forms of exercise.
			<br />
			<br />
			<a class="links button floatRight" target="_blank" href="/files/clinic/speciality-clinic/file2.pdf"><div class="">Download</div></a>
		</div>
		<h3>DIABETES</h3>
		<div>
			<img src="/images/diabetes.png" height="380" class="floatRight"></img>
			<p>
						What is diabetes?<br />
						Is it disease or lifestyle related disorder?<br />
						Is it inherited?<br />
						Is it due to lack of insulin?<br />
						Are diabetic pills lauded or banned?<br />
						What’s the role of homoeopathy in diabetes?<br /><br />
			</p>
					Avoid worrying about your blood sugars and complications of diabetes, just work on it.<br />

					Don’t Let Diabetes Take Your Control<br />
					Everything is possible Inspite of Diabetes!!<br />
					Provided You Control Your Diabetes Mellitus From Day 1 Till End!<br /><br />
					Diabetes is different in different patients. The cause is different, the course is different and the complications are different. Our goal in homoeopathy is to find this difference and rectify it. Each patient has his own altered state and homoeopathy aims to identify the altered state and give the most suitable remedy.<br /><br />
					Diabetes is not a disease but a disorder; let’s fight against it in a holistic manner<br />
					<br />
					<br />
					<a class="links floatRight button" target="_blank" href="/files/clinic/speciality-clinic/file.pdf"><div class="floatRight">Download</div></a>
		</div>
	</div>
	<div class="bodyContent" style="padding: 10px;">
		<h3 class="subheader"><%="Highlights of the multi-speciality clinic".upcase%>:</h3>
		The Multi speciality clinic offers a complete health care package to its patients.  Each of them receives a primary Homoeopathic diagnosis and treatment followed by evaluation by an Allopath. Additionally, the package also includes counselling sessions on diet, yoga and physiotherapy for patients by experts. On the whole, the diagnosis leads to the best possible health program for the patients.
	</div>
</div>

