
            <div data-role="header" data-theme="a">
                <h1>theothersong.com</h1>
                <a data-role="button" href="#academy" data-rel="page">back</a>
                <div data-role="navbar">
                    <ul>
                        <li>
                            <a data-role="button" data-rel="page" data-theme="d" data-corners="false">About Us</a>
                        </li>
                        <li>
                            <a data-role="button" href="#our_team" data-rel="page" data-theme="d">Our Team</a>
                        </li>
                        <li>
                            <a data-role="button" data-rel="page" data-theme="d" data-corners="false">Associates</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-role="content">
                <div class="div-widget">
                    <img src="http://farm5.staticflickr.com/4094/4750198742_dc1ff2f92a.jpg" style="display: block; margin: 0 auto">
                </div>
                <h4>About Us</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum</span>
                <span></span>
            </div>
            <div data-role="footer">
                <div data-role="navbar">
                    <ul>
                        <li>
                            <a data-role="button">Academy</a>
                        </li>
                        <li>
                            <a data-role="button">Clinic</a>
                        </li>
                        <li>
                            <a data-role="button">Read Up</a>
                        </li>
                        <li>
                            <a data-role="button">Contacts</a>
                        </li>
                        <li>
                            <a data-role="button">Search</a>
                        </li>
                    </ul>
                </div>
            </div>
     