
            <div data-role="header">
                <h1>Welcome</h1>
            </div>
            <div data-role="content">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <ul data-role="listview" data-inset="true"></ul>
                    </div>
                    <div class="ui-block-b">
                        <div data-role="collapsible-set" data-theme="b"></div>
                    </div>
                </div>
            </div>
            <div data-role="footer">
                <h1>Footer</h1>
            </div>
