
            <div data-role="header" data-theme="a">
                <h1>theothersong.com</h1>
                <a data-role="button" href="#page1" data-rel="page">back</a>
            </div>
            <div data-role="content">
                <div class="div-widget">
                    <ul data-role="listview" data-inset="true" data-theme="c">
                        <li>About Us</li>
                        <li>Our Edge</li>
                        <li>Knowledge Center</li>
                        <li>Events</li>
                        <li>General Information</li>
                        <li>&nbsp;Latest At The Other Song</li>
                    </ul>
                </div>
            </div>
            <div data-role="footer">
                <div data-role="navbar">
                    <ul>
                        <li>
                            <a data-role="button">Academy</a>
                        </li>
                        <li>
                            <a data-role="button">Clinic</a>
                        </li>
                        <li>
                            <a data-role="button">Read Up</a>
                        </li>
                        <li>
                            <a data-role="button">Contacts</a>
                        </li>
                        <li>
                            <a data-role="button">Search</a>
                        </li>
                    </ul>
                </div>
            </div>
       