 <div data-role="navbar">
                    <ul>
                    	<li>
                            <a data-role="button" data-rel="external" class="ui-btn-active ui-state-persist" data-theme="d" data-corners="false">Our Edge</a>
                        </li>
                        <li>
                            <a data-role="button" href="/our-edge/our_belief" data-theme="d" data-corners="false">Belief</a>
                        </li>
                        <li>
                            <a data-role="button" href="/our-edge/our_approach" data-rel="external" data-theme="d">Approach</a>
                        </li>
                        <li>
                            <a data-role="button" href="/our-edge/complementary_therapies" data-rel="external" data-theme="d" data-corners="false">Complementary Therapies</a>
                        </li>
                    </ul>
                </div>
</div>
here goes me