body{
margin: 0;
}
.floatLeft{
float: left;
}

.floatRight{
float: right;
}

.sliderCt{
width: 800px;
}
.infoCt{
width: 350px;;
}

.links{
color: #805f40;
width: 330px;
font-size: 14px;
margin-left: -20px;
font-weight: bold;
}
.links li a{
float: left;
}
.info, info.h3 {
margin:0 auto;

}

.info {
margin:0 auto;
margin-top: 30%;
padding:10px;
width:;
text-align: center;
}
button {
text-align: center;
margin: 8px 0 8px 0;
  border: none;
}

.clinic_button {
width: 48%;
}
.home_button {
width: 100%;
}
.home_button:after {
content: "\00bb";
padding-left: 6px;
position: absolute;
}
.academy_button{
display: inline-block;
width:48%;
}



button.homeBtns {
-webkit-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
-moz-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
background-color:#EEE;
border-radius:0;
-webkit-border-radius:0;
-moz-border-radius:0;
border:1px solid #999;
color:#666;
font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
font-size:11px;
font-weight:900;
padding:2px 6px;
height:38px;
cursor: pointer;
}
.btnCt{
width: 300px;
margin: auto;
}
/*button.homeBtns {
background:
background-size: 100% 100%; size the background image at 100% like any responsive img tag
background-position: -10px -10px;
background-repeat:no-repeat;
cursor:pointer;
}*/

/* Prevents slides from flashing */
#slides {
/*display:none;
position:relative;
height: 100%;*/
position:relative;
width: 800px;
}

#slides .slidesjs-navigation {
top:40%;
bottom:0%;
  position: absolute;
}
#slides .title, #slides .secondryTitle{
position: absolute;

left: 40px;
}
#slides .secondryTitle{
top: 520px;
background-color: #e4e4e4;
padding: 9px;
width: 356px;
}
#slides .title{
top: 450px;
background-color: #f78103;
font-size: 32px;
color: #fff;
padding: 11px;
width: 256px;
}
a.slidesjs-next,
a.slidesjs-previous {
  width:60px;
  height:97px;
  z-index:999;
  text-indent: -9999px;
}


a.slidesjs-next {
  background:url('/images/sprite.png') -347px -12px no-repeat;
  right:10px;
}
a.slidesjs-previous {
  background:url('/images/sprite.png') -420px -12px no-repeat;
  left:10px;
}

ul li{
  display: inline;
}

ul li:before {
content: '\b7\a0';
}
.homeContainer{
width: 1150px;
margin: auto;
}