@font-face {
	font-family: 'texgyreadventorbold';
	font-style: normal;
	font-weight: 400;
	src: local('texgyreadventorbold'),url('/fonts/Maven_Pro_Regular.otf'); /* IE9 Compat Modes */
}
@font-face {
	font-family: 'tisapro';
	font-style: normal;
	font-weight: 400;
	src: local('tisapro'),url('/fonts/TisaPro_Regular.otf'); /* IE9 Compat Modes */
}
body{
	margin: 0;
	font-family: texgyreadventorbold;
}
.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.sliderCt{
	width: 800px;
}
.infoCt{
	width: 350px;;
}

.links{
	color: #805f40;
	width: 330px;
	font-size: 14px;
	margin-left: -20px;
	font-weight: bold;
}
.links li a{
	float: left;
}
.info, info.h3 {
	margin:0 auto;

}

.info {
	margin:0 auto;
	margin-top: 30%;
	padding:10px;
	width:;
	text-align: center;
}
button {
	text-align: center;
	margin: 8px 0 8px 0;
  border: none;
}

.clinic_button {
	width: 160px;
}

.academy_button{
	display: inline-block;
	width:160px;
}
.home_button {
	width: 100%;
}
.home_button:after {
	content: "\00bb";
	padding-left: 6px;
	position: absolute;
}

.button_example{
	display: inline-block;
	height: 55px;
	background: red;
	text-align: center;
	background-position: -700px -20px;
	/*border:1px solid #d1dcdf;*/
	/*text-align: center;
	-webkit-border-radius: 0px; -moz-border-radius: 0px;border-radius: 0px;
	font-size:18pt;
	padding: 12px 16px;
	text-decoration:none;
	display:inline-block;
	font-weight:bold;
	color: #080808;
	background-color: #F2F5F6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F5F6), to(#c8d7dc));
	background-image: -webkit-linear-gradient(top, #F2F5F6, #c8d7dc);
	background-image: -moz-linear-gradient(top, #F2F5F6, #c8d7dc);
	background-image: -ms-linear-gradient(top, #F2F5F6, #c8d7dc);
	background-image: -o-linear-gradient(top, #F2F5F6, #c8d7dc);
	background-image: linear-gradient(to bottom, #F2F5F6, #c8d7dc);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F2F5F6, endColorstr=#c8d7dc);*/
}

.button_example:hover{
	color: #fff;
	/*border:1px solid #b6c7cc;
	border: none;
	background-color: #6E6E6E;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6E6E6E), to(#1A2230));
	background-image: -webkit-linear-gradient(top, #6E6E6E, #1A2230);
	background-image: -moz-linear-gradient(top, #6E6E6E, #1A2230);
	background-image: -ms-linear-gradient(top, #6E6E6E, #1A2230);
	background-image: -o-linear-gradient(top, #6E6E6E, #1A2230);
	background-image: linear-gradient(to bottom, #6E6E6E, #1A2230);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6E6E6E, endColorstr=#1A2230);*/
}

.homeBtn:hover {
	color: #fff;
}
.homeBtn{
	display: inline-block !important;
	height: 55px !important;
	width: 147px !important;
	background-position: -857px -40px !important;
	font-size:18pt;
	padding: 12px 16px;
	text-decoration:none;
	color: #080808;
	text-align: center;
}
.rightMartin50{
	margin-right: 50px;
}

.home_button{
	width: 380px;
	margin-top: 10px;
}
.btnCt{
	width: 300px;
	margin: auto;
}
.coverLogo{
	background-position: -10px -50px;
}

/* Prevents slides from flashing */
#slides {
	/*display:none;
	position:relative;
	height: 100%;*/
	position:relative;
	width: 800px;
}

#slides .slidesjs-navigation {
	top:40%;
	bottom:0%;
  position: absolute;
}
#slides .title, #slides .secondryTitle{
	position: absolute;

	left: 40px;
}

#slides .title{
	top: 460px;
	background-color: #f78103;
	font-size: 32px;
	color: #fff;
	padding: 11px;
}

#slides .secondryTitle{
	top: 525px;
	background-color: #e4e4e4;
	padding: 9px;
	font-size: 20px;
	color: #666;
}

a.slidesjs-next,
a.slidesjs-previous {
  width:60px;
  height:97px;
  z-index:999;
  text-indent: -9999px;
}

.spriteIcon{
	background:url('/images/sprite.png');
}
.prev, .next{
	display: inline-block;
	height: 100px;
	width: 60px;

}
.next{
	background-position: -347px -12px;
	margin-right: 15px;
}
.prev{
	background-position:  -410px -12px;
	margin-left: 15px;
}
a.slidesjs-next, icon-chevron-right {
  background-position: -347px -12px no-repeat;
  right:10px;

}
a.slidesjs-previous, icon-chevron-left {
  background-position:  -420px -12px no-repeat;
  left:10px;
	height: 20px;
	width: 20px;
}

ul li{
  display: inline;
}

ul li:before {
	content: '\b7\a0';
}
.homeContainer{
	width: 1150px;
	margin: auto;
}

.coverLogo{
	background-position: -10px -116px;
	height: 306px;
	width: 414px;
}
.content{
	width: 414px;
	position: absolute;
	top: 48px;
	z-index: 100;
	left: 50%;
	margin-left: -207px;
}
.footer{	
	position: absolute;
	top: 100%;
	margin-top: -82px;
	z-index: 100;
	width: 100%;
	height: 40px;
	font-family: tisapro;
}
.footer .copyright{
	color: white;
	font-size: 12px;
	padding: 0 14px;
}

.footer .motto{
	width: 408px;
	margin: auto;
	color: #fff;
	font-size: 21px;
	padding-bottom: 20px;
}

.footer .motto span.dotAfter:before{
	content: '\b7\a0'
}
.overlay{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
}