.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.sliderCt{
	width: 75%;
}
.infoCt{
	width: 25%;
}


.info, info.h3 {
	margin:0 auto;

}

.info {
	margin:0 auto;
	margin-top: 30%;
	padding:10px;
	width:;
	text-align: center;
}
button {
	text-align: center;
	margin: 8px 0 8px 0;
}

.clinic_button {
	width: 49%;
}
.home_button {
	width: 100%;
}
.academy_button{
	display: inline-block;
	width:49%;
}



/* Prevents slides from flashing */
#slides {
	display:none;
	position:relative;
}
#slides .slidesjs-navigation {
	top:0%;
	bottom:0%;
  margin:10px 0 0 10px;
}

a.slidesjs-next,
a.slidesjs-previous {
  background-image:url("images/arrow-sprite.png");
  background-repeat: no-repeat;
  display:block;
  width:48px;
  height:48px;
  overflow: hidden;
  text-indent: -9999px;
  float: left;
}

a.slidesjs-next {
  position: absolute;
  margin-right:10px;
  clip:rect(0 96px 48px 48px);
	top: 45%;
	right: -30px;
	z-index:999;
	/* background-position: -12px 0;*/
}

a.slidesjs-previous {
  position: absolute;
  margin-left:10px;
	clip:rect(0 48px 48px 0);
	top: 45%;
	left: 10%;
	z-index:999;
}



