<nav class="top-nav" data-role="navbar">
	<ul class="nav">
		<li class="nav-top-el">
			<a href="/about-us"><%= t "navigation.about" %></a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="/about-us/our_mission">Our Mission</a></li>
				<li class="nav-list-item"><a href="/about-us/our_team">Our Team</a></li>
				<li class="nav-list-item"><a href="/about-us/our_associations_and_tie_ups">Our Associations and Tie Ups</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/our-edge">Our Edge</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="/our-edge/our_belief">Our Belief</a></li>
				<li class="nav-list-item"><a href="/our-edge/our_approach">Our Approach</a></li>
				<li class="nav-list-item"><a href="/our-edge/our_process">Our Process</a></li>
				<li class="nav-list-item"><a href="/our-edge/complementary_therapies">Complementary Therapies</a></li>
				<li class="nav-list-item"><a href="/our-edge/speciality_clinic">Speciality Clinic</a></li>
				<li class="nav-list-item"><a href="/our-edge/testimonials">Testimonials</a></li>
			</ul>
		</li>
		
		<li class="nav-top-el">
			<a href="/knowledge-center">Knowledge Center</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="/knowledge-center/homeopathy">Homoeopathy</a></li>
				<li class="nav-list-item"><a href="/knowledge-center/articles">Articles</a></li>
				<li class="nav-list-item"><a href="/knowledge-center/case_studies">Case studies</a></li>
				<li class="nav-list-item"><a href="/knowledge-center/videos">Videos</a></li>
				<li class="nav-list-item"><a href="/knowledge-center/webinars">Webinars</a></li>
				<li class="nav-list-item"><a href="/knowledge-center/recommended">Recommended reading</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/events">Events</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="/events/parenting_workshop">Parenting Workshop</a></li>
				<li class="nav-list-item"><a href="/events/movement_and_meditation">Movement and meditation</a></li>
				<li class="nav-list-item"><a href="/events/yoga_at_the_other_song">Yoga at 'the other song'</a></li>
				<li class="nav-list-item"><a href="/events/other_events">Other events</a></li>
				<li class="nav-list-item"><a href="/events/calender_of_events">Calendar of Events</a></li>
				<li class="nav-list-item"><a href="/events/offers_and_discounts">Offers and Discounts</a></li>
				<li class="nav-list-item"><a href="/events/payment_options">Payment Options</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/latest-at-the-other-song">Latest at The Other Song</a>
		</li>
		<li class="nav-top-el">
			<a href="/contact-us">General Information</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="">Clinic Schedule</a></li>
				<li class="nav-list-item"><a href="">Book an appointment</a></li>
				<li class="nav-list-item"><a href="">Payment options</a></li>
				<li class="nav-list-item"><a href="">Clinic brochure</a></li>
				<li class="nav-list-item"><a href="">Case record form (Adults)</a></li>
				<li class="nav-list-item"><a href="">Pediatric case record form</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/contact-us">Contact Us</a>
			<ul class="nav-list">
				<li class="nav-list-item"></li>
			</ul>
		</li>
	</ul>
	<div class="clearBoth"></div>
</nav>
