<nav class="top-nav">
	<ul class="nav">
		<li class="nav-top-el">
			<a href="/about">About Us</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="">Our Mission</a></li>
				<li class="nav-list-item"><a href="">Our Team</a></li>
				<li class="nav-list-item"><a href="">Our Associations and Tie Ups</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/about">Our Edge</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="">Our Belief</a></li>
				<li class="nav-list-item"><a href="">Our Approach</a></li>
				<li class="nav-list-item"><a href="">Our Process</a></li>
				<li class="nav-list-item"><a href="">Complementary Therapies</a></li>
				<li class="nav-list-item"><a href="">Speciality Clinic</a></li>
				<li class="nav-list-item"><a href="">Testimonials</a></li>
			</ul>
		</li>
		
		<li class="nav-top-el">
			<a href="/knowledge-center">Knowledge Center</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="">Homoeopathy</a></li>
				<li class="nav-list-item"><a href="">Articles</a></li>
				<li class="nav-list-item"><a href="">Case studies</a></li>
				<li class="nav-list-item"><a href="">Videos</a></li>
				<li class="nav-list-item"><a href="">Webinars</a></li>
				<li class="nav-list-item"><a href="">Recommended reading</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/about-us">Events</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="">Parenting Workshop</a></li>
				<li class="nav-list-item"><a href="">Movement and meditation</a></li>
				<li class="nav-list-item"><a href="">Yoga at 'the other song'</a></li>
				<li class="nav-list-item"><a href="">Other events</a></li>
				<li class="nav-list-item"><a href="">Calendar of Events</a></li>
				<li class="nav-list-item"><a href="">Offers and Discounts</a></li>
				<li class="nav-list-item"><a href="">Payment Options</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/contact-us">Latest at The Other Song</a>
		</li>
		<li class="nav-top-el">
			<a href="/contact-us">General Information</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="">Clinic Schedule</a></li>
				<li class="nav-list-item"><a href="">Book an appointment</a></li>
				<li class="nav-list-item"><a href="">Payment options</a></li>
				<li class="nav-list-item"><a href="">Clinic brochure</a></li>
				<li class="nav-list-item"><a href="">Case record form (Adults)</a></li>
				<li class="nav-list-item"><a href="">Pediatric case record form</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/contact-us">Contact Us</a>
			<ul class="nav-list">
				<li class="nav-list-item"></li>
			</ul>
		</li>
	</ul>
	<div class="clearBoth"></div>
</nav>
