/* 
    Document   : public.css
    Created on : Apr 6, 2013, 12:16:44 AM
    Author     : abhimanyusaxena
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

