/* 
    Document   : user
    Created on : Apr 6, 2013, 12:16:11 AM
    Author     : abhimanyusaxena
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Start RESET CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display:block; }

ul, ol { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table {}

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; outline:none; }
/* END RESET CSS */


/*TYPOGRAPHY CSS*/
/*
 * minimal base styles
*/

/* Headers (h1,h2,etc) have no default font-size or margin,
you'll want to define those yourself. */
/*h1,h2,h3,h4,h5,h6 { font-weight: bold;text-align: left;padding:0 0 8px;color:#CCCCCC; line-height:1em }*/

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a{color: #fff;text-decoration: none}

a:hover, a:active { outline: none; }

a, a:active, a:visited { outline: none }
a:hover { color:#fff; }

ol { list-style-type: decimal; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }


pre {
  padding: 15px;

  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */


/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: top; }

/* hand cursor on clickable input elements */
input[type=button], input[type=submit], button { cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }
/*  j.mp/webkit-tap-highlight-color */
/*a:link { -webkit-tap-highlight-color: #FF5E99; }*/

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
/**/
/*COMMON CSS START*/
.clearBoth{
	clear: both;
}

.secondryTitle{
	margin: 20px 0;
	font-size: 20px;
}

.col1{
	margin-right: 30px;
}

.twoCol{
	width: 475px;
	
}
.twoCol .content{
	padding: 10px;
}
.blueHeader{
	height: 60px;
	background: blue;
}

.greenHeader{
	height: 60px;
	background: green;
}

.blueBorder{
	border-left: 4px solid #1b7aba !important;
}
/*COMMON CSS END*/


/* NAVIGATION CSS START*/
.nav-top-el > a{
	color: #000;
	cursor: pointer;
}
.nav-top-el{
	display: inline-block;
	padding: 10px;
	position: relative;
}
.nav-top-el:hover .nav-list{
	display: block;
}
.nav-list{
	display: none;
	position: absolute;
	background: #000;
	color: #ffd;
	width: 200px;
}

.nav-list > a{
	padding: 10px;
}
/* NAVIGATION CSS END*/

/* Activity CSS*/
.activityList {
	border: 1px solid black;
}

.activity{
	border-bottom: 1px dotted black;
}
.activity:hover{
	background: #00ddff;
}
/* Activity CSS End*/

/*Common CSS Rules*/
.contentWrap{
	padding-top: 20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.padder{
	padding: 10px;
}
.spriteIcon{
	background: url("/images/sprite.png");
	display: inline-block;
}
.mail{
	background-position: -793px -66px;
}
.feed{
	background-position: -32px -22px;
}
.linkedin{
	background-position: -830px -68px;
}
.twitter{
	background-position: -64px -22px;
}
.facebook{
	background-position: -94px -22px;
}

.title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 25px;
	padding-left: 10px;
}

.seondryTitle{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}
.ternaryTitle{
	font-size: 20px;
	margin-bottom: 10px;
}
.topHeader {
	border-bottom: 1px solid #666;
	height: 38px;
}
/*Footer css*/
footer{
	border-top: 1px groove #ddd;
	padding-top: 20px;
	width: 100%;
	background-image: url("/images/footer.jpg");
}
.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}
.leftSection{
	float: left;
	width: 500px;
}
.rightSection{
	float: right;
}
.ftSection{
	float: left;
	margin-right: 40px;
}


.ftSection ul{
	margin-top: 20px;
	list-style: disc;
	margin-left: 20px;
}
.ftSection ul li{
	margin-bottom: 6px;
	font-size: 14px;
}
.clear{
	clear: both;
}
.footerCt{
	width: 980px;
	margin: auto;
}

.leftTopCt{
	margin-bottom: 72px;
}
.leftTopCt a{
	color: #666;
}
.footerTop{
	border-bottom: 1px groove #ddd;
}
.leftSection{
	border-right: 1px groove #ddd;
}

.footerBottom{
	padding: 10px;
	height: 20px;
}

.socialLinks{
	float: right;
	margin-right: 10px;
}
.linksSection{
	float: left;
	position: relative;
	top: 75px;
}
.linksSection li{
	margin-bottom: 15px;
}


.smlIcon{
	height: 24px;
	width: 24px;
	position: relative;
	top: 4px;
}


.rightSection input{
	height: 24px;
	width: 400px;
	margin-bottom: 10px;
}
.rightSection textarea{
	width: 400px;
	height: 80px
}
.rightSection input[type=submit]{
	width: 91px;
	float: right;

	height: 29px;
	font-size: 16px;
	color: #fff;
	background-position: -243px -13px;
	border: none;
}
.rightSection .feedback{
	margin-bottom: 12px;
}
/*footer css ends*/


/*Article CSS Start*/
.article-list .padder{
	padding: 10px 0;
}
.article-list .title{
	padding-left: 10px;
}
.article-list .articlesLeftPanel{
	width: 136px;
	margin-top: 10px;
}
.article-list .articlesRightPanel{
	width: 804px;
	padding-left: 30px;
	padding-right: 10px;
}
.article-list .articlesRightPanel h3{
	font-size: 18px;
	font-family: 'TisaProRegular';
}
.article-list .articlesRightPanel .date{
	font-size: 14px;
	font-family: 'TisaProRegular';
}
.article-list .articleContentArea{
	padding-top: 16px;
	font-family: 'TisaProRegular';
}
.article-list .articlesLeftPanel ul li:first-child{
	background-color: #599d15;
	padding: 8px 12px;
	color: #fff;
	margin-top: 20px;
}

.article-list .articlesLeftPanel ul li.case-studies:first-child{
	background-color: #f67a00;
}
.article-list .articlesLeftPanel ul li.videos:first-child{
	background-color: #1b7aba;
}

.article-list .articlesLeftPanel ul li{
	padding: 4px 12px ;
}
.article-list .articlesLeftPanel ul li a{
	color: #000;
	font-size: 14px;
}
.article-list .articlesLeftPanel ul li a:hover{
	text-decoration: underline;
}


.article-list .topHeader{
	border-bottom: 1px solid #666;
	height: 38px;
}
.article-list .navigation a{
	color: #000;
}
.article-list .pagination{
	height: 30px; 
	width: 128px;
	background-position: -1575px -58px;
	text-align: center;
	line-height: 28px;
	color: #000 !important;
}

.slidesjs-pagination{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 100;
}
.slidesjs-pagination-item{
	display: inline-block;
}

.slidesjs-pagination-item a{
	color: red;
	font-size: 1px;
}

.article-list .pagination.next{	
	background-position: -1731px -57px;
	width: 92px;
}
.article-list .articleCount{
	width: 160px;
	position: absolute;
	left: 50%;
}

.article-list .article{
	padding: 16px 0;
	position: relative;
}
.article-list .article img{
	margin-right: 18px;
}

.article-list .articleTitle{

	font-size: 16pt;
}
.article-list .articleDate{
	font-size: 12pt;
	margin-right: 6px;
}
.article-list .articleContent{
	margin-top: 16px;
	line-height: 18px;
	font-size: 12pt;
	color: #666;
}
.article-list .contentBlock{
	width: 570px;
}
.article-list .sharingTool{		
	display: inline-block;
	height: 24px;
	width: 90px;
}
.article-list .tools{
	margin-top: 18px;
}
.article-list .tools a{
	font-size: 12pt;
	float: right;
	color: #666;
	padding-right: 10px;
}
.article-list .tools a:after{
	content: "\00bb";
}
.articleContent{
	height: 54px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.articlesList{
	font-family: 'TisaProRegular';
}

.slidesjs-pagination-item a{
	float: left;
	height: 16px;
	width: 16px;
	margin-right: 6px;
	display: inline-block;
	background-position: -187px -27px;
	background-image: url("/images/sprite.png");
	display: inline-block;
	cursor: pointer;
}
.slidesjs-pagination-item a:hover, .slidesjs-pagination-item a.active{
	background-position: -215px -27px;
}
.caption{
	position: absolute;
	bottom: 25px;
	left: 0;
	background: #f67a00;
	height: 20px;
	line-height: 20px;
	color: #fff;
	padding: 10px;
}

.article .videoCt{
	margin-top: 20px;
	height: 180px;
	position: relative;
}
.article .video{
	margin-right: 10px;
	height: 180px;
	width: 280px;
}
.article .videoContent{
	width: 514px;
	position: absolute;
	bottom: 0;
	left: 290px;
	font-size: 10pt;
}

 .video{
	
}
/*Article css end*/


/*Admin Articles List Start*/
.articleList h1{
	font-size: 32px;

}
.articleList table tr th{
	background: #000;
	color: #fff;
}
.articleList table tr td{
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
/*Admin Articles List End start*/

/*Admin Article edit*/
.articleEdit h1{
	font-size: 32px;

}
.articleEdit{
	width: 980px;
	margin: auto;
}
.actions input{
	width: 200px;
	margin-top: 20px;
	height: 32px;
	background: #ddd;
}
/*Admin Article edit end*/