/* 
    Document   : user
    Created on : Apr 6, 2013, 12:16:11 AM
    Author     : abhimanyusaxena
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Start RESET CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display:block; }

ul, ol { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }


ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table {}

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; outline:none; }

.logoutBox{
	background-position: -244px -14px !important;
}
/*TODO make this more specific*/
::-webkit-input-placeholder {
	font-size:10pt;
}

:-moz-placeholder { /* Firefox 18- */
	font-size:10pt;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-size:10pt;
}

:-ms-input-placeholder {
	font-size:10pt;
}
/* END RESET CSS */


/*TYPOGRAPHY CSS*/
/*
 * minimal base styles
*/

/* Headers (h1,h2,etc) have no default font-size or margin,
you'll want to define those yourself. */
/*h1,h2,h3,h4,h5,h6 { font-weight: bold;text-align: left;padding:0 0 8px;color:#CCCCCC; line-height:1em }*/

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a{text-decoration: none}

a:hover, a:active { outline: none; }

a, a:active, a:visited { outline: none }

ol { list-style-type: decimal; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; }

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

.bodyContent{	
	font-size: 12pt;
	/*min-height: 350px;*/
	font-family: 'Merriweather';
	font-weight: 300;
	line-height: 1.5em;
	color: #636363;
	padding-right: 10px;
}

.subheader, .articleCount, .article-list .articleContentArea strong, .articleContent strong, .contentBlock .bodyContent strong{
	font-family: 'Merriweather';
	font-size: 10pt;
	color: #333;
	line-height: 1.4em;	
	font-weight: bold;
}

.links{
	font-size: 10pt;
	color: #666 !important;
	font-family: 'Merriweather';
}
.links:hover{
	color: #a51919 !important;
}
.leftPadding10{
	padding-left: 10px;
}
.topPadding10{
	padding-top: 10px;
}
.topPadding20{
	padding-top: 20px;
}
.aboutUs{
	float: left;
	width: 630px;
	border-right: 1px solid #ddd;	
}
pre {
  padding: 15px;

  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */


/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: top; }

/* hand cursor on clickable input elements */
input[type=button], input[type=submit], button { cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }
/*  j.mp/webkit-tap-highlight-color */
/*a:link { -webkit-tap-highlight-color: #FF5E99; }*/

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
/**/
/*COMMON CSS START*/
.clearBoth{
	clear: both;
}
.blackText{
	color: #000;
}
.secondryTitle{
	font-family: 'Merriweather';
	font-size: 10pt;
	color: #333;
	line-height: 1.4em;
	margin-bottom: 10px;
	font-weight: bold;
}

.col1{
	margin-right: 50px;
}

.twoCol{
	width: 465px;

}
.blueHeader{
	height: 57px;
	background-image: url("/images/blue.png");
}

.greenHeader{
	height: 57px;
	background-image: url("/images/green.png");
}
.color333{
	color: #333;
}
.color636363{
	color: #636363;
}
.tisapro{
	font-family: 'Merriweather' !important;
}
.mavenpro{
	font-family: 'Maven Pro';
}
.orangeHeader{
	height: 57px;
	background-image: url("/images/orange.png");
}

.font14{
	font-size: 14px;
}
.font16{
	font-size: 16px;
}
.font18{
	font-size: 18px;
}
.font20{
	font-size: 20px;
}
.font22{
	font-size: 22px;
}
.margin20{
	margin: 20px 0;
}
.marginTop20{
	margin-top: 20px;
}
.marginTop10{
	margin-top: 10px;
}
.marginRight10{
	margin-right: 10px;
}
.boldtext{
	font-weight: bolder;
}
.black{
	color: #000;
}
.hidden{
	display: none;
}

.ui-dialog{
	border-radius: 0 !important;
}
.ui-widget-header, ui-dialog-titlebar{
	background: #fff !important;
	border: none !important;
}
.menuItems a{
	color: #fff;
}

.menuItems a:hover{
	text-decoration: none;
}
/*COMMON CSS END*/
/*Accordion CSS Start*/
#accordion{
	margin-bottom: 10px;
}
#accordion .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
	border-radius: 0 !important;;
}
#accordion .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{
	border-radius: 0 !important;
}
#accordion .ui-state-default{
	background: #909090;
	color: #fff;
}
#accordion .ui-state-default.ui-state-active{
	background: #1b7aba;
}

#accordion.maroonHeader .ui-state-default.ui-state-active{
	background-color: #b73736;
}
#accordion.greenAccordianHeader .ui-state-default.ui-state-active{
	background-color: #599d15;
}

#accordion.team .ui-state-default.ui-state-active{
	background: #f67a00;
}
#accordion .ui-accordion-header{
	font-family: 'Merriweather';
	font-size: 10pt;
	color: #333;
	line-height: 1.4em;
	font-weight: bold;
}
#accordion .ui-accordion-header-icon{
	right: 10px;
	left: auto;
}
#accordion .ui-state-active .ui-accordion-header-icon{
	background: url('/images/sprite.png');
	background-position: -2019px -76px;
	height: 22px;
	width: 22px;
}
#accordion .ui-accordion-header-icon{	
	background: url('/images/sprite.png');
	background-position: -1981.8px -71px;
	height: 22px;
	width: 22px;
}


#accordion .ui-widget-content{
	border: none;
	color: #636363;
	font-size: 16px;
	padding: 1em 1em;
}
.ui-accordion .ui-accordion-icons{
	padding-left: 6px !important;
}
.ui-widget{
	font-family: 'Merriweather';
}
#accordion .ui-widget-content{

}
/*Accordion CSS End*/
/* NAVIGATION CSS START*/
.nav-top-el > a{
	color: #000;
	cursor: pointer;
}
.nav-top-el{
	display: inline-block;
	padding: 10px;
	position: relative;
}
.nav-top-el:hover .nav-list{
	display: block;
}
.nav-list{
	display: none;
	position: absolute;
	background: #000;
	color: #ffd;
	width: 200px;
}

.nav-list > a{
	padding: 10px;
}
/* NAVIGATION CSS END*/

/* Activity CSS*/
.activityList {
	border: 1px solid black;
}

.activity{
	border-bottom: 1px dotted black;
}
.activity:hover{
	background: #00ddff;
}
/* Activity CSS End*/

/*Common CSS Rules*/
.contentWrap{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	font-family: 'Merriweather';
	color:  #636363;
}

.contentWrap .highlight{
	color: #333333;
}
.padder{
	padding: 20px 10px;
}
.spriteIcon{
	background: url("/images/sprite.png");
	display: inline-block;
}
.mail{
	background-position: -793px -66px;
}
.feed{
	background-position: -32px -22px;
}
.linkedin{
	background-position: -830px -68px;
}
.twitter{
	background-position: -64px -22px;
}
.facebook{
	background-position: -94px -22px;
}

.title{
	font-size: 25pt;	
	color: #333;
	letter-spacing: 1px;
	padding-bottom: 20px;
	font-family: 'Maven Pro';
}

.seondryTitle{
	font-family: 'Merriweather';
	font-size: 10pt;
	color: #333;
	line-height: 1.4em;
	margin-bottom: 10px;
	font-weight: bold;
}
.ternaryTitle{
	font-size: 20px;
	margin-bottom: 10px;
	font-family: 'Maven Pro';
}
.topHeader {
	border-bottom: 1px solid #666;
	height: 38px;
}
/*Footer css*/
footer{
	border-top: 1px groove #ddd;
	padding-top: 20px;
	width: 100%;
	background-image: url("/images/footer.png");
}
.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}
.leftSection{
	float: left;
	width: 500px;

}
.rightSection{
	float: right;
}
.ftSection{
	float: left;
	margin-right: 40px;
}


.ftSection ul{
	margin-top: 20px;
	list-style: disc;
	margin-left: 20px;
}
.ftSection ul li{
	margin-bottom: 6px;
	font-size: 8pt;
}
.clear{
	clear: both;
}
.footerCt{
	width: 980px;
	margin: auto;
}

.leftTopCt{
	margin-bottom: 72px;
}
.leftTopCt a{
	color: #666;
}
.footerTop{
	
}

footer h3{
	color: #666;
	font-size: 10pt;
	letter-spacing: 1px;
}
.leftSection{
}

.footerBottom{
	padding: 20px 0;
	height: 20px;
}
.footerBottom span.copyright{
	color: #3e3e3e;
	font-size: 6pt;
	padding: 0;
	letter-spacing: 1px;
	font-family: 'Merriweather';
	font-weight: 300;
}
.socialLinks{
	float: left;
	margin-right: 10px;
	color:#333333;
	font-weight: bold;

}
.linksSection{
	float: left;	
}
.linksSection li{
	margin-bottom: 15px;
}


.smlIcon{
	height: 24px;
	width: 24px;
	position: relative;
	top: 4px;
}

.rightSection form{
	margin-top: 10px;
}

.rightSection input{
	height: 24px;
	width: 400px;
	margin-bottom: 10px;
	font-size: 16px;
}
.rightSection textarea{
	width: 400px;
	height: 80px
}
.rightSection input[type=submit]{
	width: 91px;
	float: right;

	height: 29px;
	font-size: 16px;
	color: #fff;
	background-position: -243px -13px;
	border: none;
}
.rightSection .feedback{
	margin-bottom: 12px;
}
/*footer css ends*/


/*Article CSS Start*/
.article-list .padder{
	padding: 20px 0;
}
.article-list .title{
	padding-left: 10px;
}
.article-list .articlesLeftPanel{
	width: 136px;
	margin-top: 10px;
}
.article-list .articlesRightPanel{
	width: 804px;
	padding-left: 30px;
	padding-right: 10px;
}
.article-list .articlesRightPanel h3{
	font-family: 'Merriweather';
	font-size: 10pt;
	color: #333;
	line-height: 1.4em;
	margin-bottom: 10px;
	font-weight: bold;
}
.article-list .articlesRightPanel .date{
	font-size: 14px;
	font-family: 'Merriweather';
}
.article-list .articleContentArea{
	font-family: 'Merriweather';
}

.article-list .articlesLeftPanel ul li:first-child{
	background-color: #599d15;
	padding: 8px 12px;
	color: #fff;
	margin-top: 20px;
}

.article-list .articlesLeftPanel ul li.case-studies:first-child{
	background-color: #f67a00;
}
.article-list .articlesLeftPanel ul li.videos:first-child{
	background-color: #1b7aba;
}

.article-list .articlesLeftPanel ul li{
	padding: 4px 12px ;
}


.article-list .topHeader{
	border-bottom: 1px solid #666;
	height: 30px;
	/*padding-bottom: 20px;*/
}
.article-list .navigation a{
	color: #000;
}
.article-list .pagination{
	height: 30px;
	width: 128px;
	background-position: -1575px -58px;
	text-align: center;
	line-height: 28px;
	color: #000 !important;
}

.slidesjs-pagination{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 100;
}
.slidesjs-pagination-item{
	display: inline-block;
}

.slidesjs-pagination-item a{
	color: red;
	font-size: 1px;
}

.article-list .pagination.next{	
	background-position: -1731px -57px;
	width: 92px;
}
.article-list .articleCount{
	width: 160px;
	position: absolute;
	left: 50%;
}

.article-list .article{
	padding: 16px 0;
	position: relative;
}
.article-list .article img{
	margin-right: 18px;
}

.article-list .articleTitle{

	font-size: 16pt;
}
.article-list .articleDate{
	font-family: 'Merriweather';
	font-size: 10pt;
	color: #333;
	line-height: 1.4em;
	margin-bottom: 10px;
	font-weight: bold;
}
.article-list .contentBlock{
	width: 570px;
	height: 140px;
}

.article-list .contentBlock .bodyContent{
	height: 69px;
	overflow: hidden;
}
.article-list .sharingTool{		
	display: inline-block;
	height: 24px;
	width: 90px;
}
.article-list .tools{
	margin-top: 18px;
}

.articleContent{
	height: 65px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.articlesList{
	font-family: 'Merriweather';
}

.slidesjs-pagination-item a{
	float: left;
	height: 16px;
	width: 16px;
	margin-right: 6px;
	display: inline-block;
	background-position: -187px -27px;
	background-image: url("/images/sprite.png");
	display: inline-block;
	cursor: pointer;
}
.slidesjs-pagination-item a:hover, .slidesjs-pagination-item a.active{
	background-position: -215px -27px;
}
.caption{
	position: absolute;
	bottom: 25px;
	left: 0;
	background: #f67a00;
	height: 20px;
	line-height: 20pt;
	padding: 10px;
}

.article .videoCt{
	margin-top: 20px;
	height: 180px;
	position: relative;
}
.article .video{
	margin-right: 10px;
	height: 180px;
	width: 280px;
}
.article .videoContent{
	width: 514px;
	position: absolute;
	bottom: 0;
	left: 290px;	
}

.video{

}
/*Article css end*/




/*Team page CSS Start*/
.team-member{
	margin-right: 22px;
}
.team-first-list{
	margin-top: 22px;
}

.team-member .name{

}
/*Team page CSS End*/

/*Contact Us Page CSS Start*/
.mapCt{
	height: 300px;
	margin-bottom: 10px;
}
.contactAddr, .contactNums{
	height: 342px;
	width: 489px;
}
.contactAddr{

}
.seperator{
	width: 1px;
	border-right: 1px solid #888;
}
.contactCt{
	border-bottom: 1px solid #999;
}
.contactUs{
	font-family: 'Maven Pro';
}
.contactNums .email{
	font-size: 18px;
}
.contactFt{
	margin-top: 10px;
}
/*Contact Us Page CSS End*/

.satelliteContent{

}

.dateBlock{
	border: 1px solid #a41819;
	border-radius: 40px;
	height: 64px;
	width: 64px;
	overflow: hidden;
	margin-right: 18px;
	font-size: 10pt;
}
.dateCt, .dayCt{
	height: 32px;
	width: 64px;
	text-align: center;
	line-height: 10px;
}
.dateCt{
	background-color: #a41819;
	color: #fff;
	padding-top: 14px;
	height: 20px;
}
.dayCt{
	padding-top: 5px;
}
.eventDesc{
	border-bottom: 1px solid #666;
	margin-bottom: 18px;
	padding-bottom: 12px;
}
.eventDesc:last-child{
	border-bottom: none;
}
.appointemtnTable td{
	line-height: 28px;
}

.currency-table th{
	background: #fbface;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 10px 0;	
}
.currency-table td{
	background: #fcfce0;
	border-right: 1px solid #666;
	text-align: center;
	padding: 10px 0;
}
.currency-table{
	width: 100%;
	border-collapse:collapse;
	border: 1px solid #666;
}
.generalInfo ul li{
	list-style: disc;
}
.generalInfo ul{
	margin-left: 20px;
}


.loginForm input[type="text"],.loginForm input[type="password"]{
	width: 200px;
}
.loginForm input[type="submit"]{
	width: 60px;
	height: 24px;
	background: #ddd;
}
.loginForm td{
	line-height: 36px;
}
.loginForm a{
	color: blue !important;
	text-decoration: underline;
}
.event-details td.secondCol{
	padding-left: 20px;
}

/*Submenu CSS */
.submenu{
	height: 30px !important;
	border-top: 1px solid #525355;
	background-image: -moz-linear-gradient(center top,#787878,#424242);
	background-image: -webkit-linear-gradient(#787878,#424242);
	background-color: #454648;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	background-image: url("/images/submenu-bg.jpg");
	margin-bottom: 25px;
}
.submenuItems{
	width: 980px;
	margin: auto;
	position: relative;
}
.submenuItem{
	/*position: relative;*/
}
.submenuItem ul{
	display: none;
	position: absolute;
	width: 980px;
	left: 2px;
	top: 30px;
}
.submenuItem ul li{
	background-color: #ededed;
	display: inline-block;
	line-height: 28px;
}
.submenuItem ul li a{
	color: #333;
	font-size: 8pt;
	letter-spacing: 1px;
}
.submenuItem ul li a:hover{
	color: #a51919;
}
li.selected ul{
	display: block;
}
.submenuItems li a{
	color: #ddd;
	/*font-size: 15.5pt;
		line-height: 32pt;*/
}
.submenuItem li{
	height: 38px;
}
.submenuItems li{
	float: left;
	padding: 0 10px;
	font-size: 8pt;
	height: 30px;
	line-height: 32px;
	letter-spacing: 1px;
}

.submenuItem li.selected a{
	color: #a51919;
}
.submenuItems li.selected{
	background-color: #ededed;

	cursor: pointer;
}
.submenuItems li.selected div > a{
	color: #000;
	font-weight: bold;
}
.left-border-1.left-border{
	top: 0px;
	height: 30px;
	position: relative;
	float: left;
	margin-left: -10px;
}
.left-border{
	background-image: url("/images/left-border.jpg");
	height: 25px;
	left: 0;
	position: absolute;
	top: 30px;
	width: 6px;
	z-index: 100;
	display: none;
}
.selected .left-border{
	display: block;
}
.submenuItem ul li{
	/*-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		box-shadow: 2px 2px 2px rgba(0,0,0,0.3);*/
	height: 25px;
}
.subnavIcon{
	background-image: url("/images/sprite.png");
	display: inline-block;
	height: 16px;
	width: 16px;
	position: relative;
	top: 3px;
	left: 3px;
	background-position: -853px -638px;
}

.blockQuote{
	border-left: 4px solid #a51919;
	padding-left: 22px;
	font-size: 15pt;
	margin: 20px 0;
	font-weight: 400;
	line-height: 1.4em;
	color: #636363;
}

.testimonialVideoCt{
	height: 140px;
}

.general-info-contact{
	padding: 10px;
}