
           
                <div data-role="navbar">
                    <ul>
                        <li>
                            <a data-role="button" href="/our-edge" data-rel="external" data-theme="d" data-corners="false">Our Edge</a>
                        </li>
                        <li>
                            <a data-role="button" href="/our-edge/our_belief" data-theme="d" data-corners="false">Belief</a>
                        </li>
                        <li>
                            <a data-role="button" class="ui-btn-active ui-state-persist" data-rel="external" class="ui-btn-active ui-state-persist" data-theme="d">Approach</a>
                        </li>
                        <li>
                            <a data-role="button" href="/our-edge/complementary_therapies" data-rel="external" data-theme="d" data-corners="false">Complementary Therapies</a>
                        </li>
                    </ul>
                </div>
</div>
            <div data-role="content">
                <div class="div-widget">
                    <img src="http://farm5.staticflickr.com/4094/4750198742_dc1ff2f92a.jpg" style="display: block; margin: 0 auto">
                </div>
                <h4>Approach</h4>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum</span>
                <span></span>
            </div>
            