<div class="floatLeft articlesLeftPanel">
	<ul>
		<li>POPULARITY</li>
		<li><a>Latest</a></li>
		<li><a>Most Read</a></li>
		<li><a>Most Shared</a></li>
	</ul>
	<ul>
		<li>CATEGORIES</li>
		<li><a>Allergy</a></li>
		<li><a>Chronic</a></li>
		<li><a>Healing</a></li>
	</ul>
</div>