<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>theothersong</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css">
    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <%= javascript_include_tag "mobile" %>
   
  </head>
  <body>
    <div class="current">
      
      <% unless flash.empty? %>
        <div class="info">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
        </div>
      <% end %>
    
     <div data-role="page" id="page">
          <%= yield %>
    </div>
            <div data-role="footer" data-position="fixed" data-fullscreen="true">
                <div data-role="navbar">
                    <ul>
                        <li>
                            <a data-role="button">Academy</a>
                        </li>
                        <li>
                            <a data-role="button">Clinic</a>
                        </li>
                        <li>
                            <a data-role="button">Read Up</a>
                        </li>
                        <li>
                            <a data-role="button">Contacts</a>
                        </li>
                        <li>
                            <a data-role="button">Search</a>
                        </li>
                    </ul>
                </div>
            </div>


    </div>
  </body>
</html>